<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav class="" style="background-color: #000000;">
            <div>
                <div class="container-fluid">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        {{#if usuario}}
                        <a href="#" class="mx-2 my-2 d-block link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{#if usuario.documents.[0]}}
                            <div class="image-container"
                                style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                                <img src="{{usuario.documents.[0].reference}}" alt="45"
                                    style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            {{else}}
                            <div class="image-container"
                                style="width: 64px; height: 64px; border-radius: 50%; overflow: hidden;">
                                <img src="http://cdn.pixabay.com/photo/2018/02/17/14/15/template-3160023_640.jpg"
                                    alt="mdo" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            {{/if}}
                        </a>
                        <div class="dropdown text-end">
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item text-capitalize">{{usuario.name}}</a></li>
                                <li><a class="dropdown-item">{{usuario.age}} años</a></li>
                                <li><a class="dropdown-item">{{usuario.role}}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {{#if usuario.premium}}
                                <li><a class="dropdown-item">⭐PREMIUM⭐</a>
                                </li>
                                {{/if}}
                                <li>
                                    <div class="dropdown-item"> <button type="button" id="LogoutButton"
                                            class="btn btn-dark border-0 ">Cerrar
                                            Sesión</button></div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-end">
                            <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-between">
                                {{#if usuario.premium}}
                                <li class="mx-2 my-2"> <a href="/products/realTimeProducts" class="btn text-light">
                                        <strong>Agregar Producto</strong>
                                    </a>
                                </li>
                                <li class="mx-2 my-2">
                                    <form id="premiumForm" action="https://mustafa-backend-production.up.railway.app/users/premium/{{usuario._id}}">
                                        <button id="userClassicButton" class="btn text-light">
                                            Dejar de ser Premium
                                        </button>
                                    </form>
                                </li>
                                {{/if}}
                                {{#if usuario.documents.[2]}}
                                {{#unless usuario.premium}}
                                <li class="mx-2 my-2">
                                    <form id="premiumFormUpdate" action="/api/users/premium/{{usuario._id}}">
                                        <button class="btn text-light">
                                            <strong class="text-light">⭐Ser Premium⭐</strong>
                                        </button>
                                    </form>
                                </li>
                                {{/unless}}{{else}}
                                <li class="mx-2 my-2"> <a href="/users/{{usuario._id}}/documents"
                                        class="btn text-light">
                                        <strong class="text-light">⭐Ser Premium⭐</strong>
                                    </a>
                                </li>
                                {{/if}}
                                <li class="mx-2 my-2"> <button id="buttonChat" class="btn text-light">
                                        Chat ✍
                                    </button>
                                </li>
                                <li class="mx-2 my-2"> <button id="buttonCart" class="btn btn-success border-0 "
                                        data-cart={{usuario.cart}}>
                                        🛒
                                    </button>
                                </li>
                            </ul>
                        </div>
                        {{else}}
                        <div>
                            <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto justify-content-end ">
                                <li class="mx-2 my-2 ml-auto"><a href="/sessions/login"
                                        class="c btn btn-success mx-2 ustom-btn">Ingresar</a></li>
                                <li class="mx-2 my-2"><a href="/sessions/register"
                                        class=" btn btn-primary ustom-btn">Registrarse</a></li>
                            </ul>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="text-white" style="background-color: #000000;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    &copy; 2023 Copyright: Mustafá, Matías Adriel
                </div>
                <section class="mb-2">
                    <a href="#" class="text-white m-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>
        </div>
    </footer>
</body>

<script src="/js/cart.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/userClassic.js"></script>
<script src="/js/userPremiumUpdate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</html>