<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="text-dark">Carrito ID: {{this.cart._id}}</h2>
                </div>
                <div class="card-body"> {{#if this.cart.products}}
                    {{#each this.cart.products}}

                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>Productos</th>
                                <th>Cantidad</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Total</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="thumbnail pull-left text-center">
                                            <img class="media-object" src="{{this.product.thumbnail}}"
                                                style="width: 72px; height: 72px;">
                                        </div>
                                        <div class="media-body text-center">
                                            <h4 class="media-heading">{{this.product.title}}</h4>
                                            <span class="text-success"><strong>Stock:
                                                    {{this.product.stock}}</strong></span>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center">
                                    <p class="fw-semibold" id="quantity">{{this.quantity}}</p>
                                </td>
                                <td class="text-center"><strong id="price">${{this.product.price}}</strong></td>
                                <td class="text-center">
                                    <p class="text-dark " id="total">${{this.amount}}</p>
                                </td>
                                <td>
                                    <form
                                        action="http://localhost:8080/api/carts/{{../cart._id}}/product/{{this._id}}">
                                        <button class="btn btn-danger  w-100 eliminarProductoButton"
                                            data-product-id="{{this.product._id}}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td colspan="3"></td>
                                <td class="text-center">
                                    <h3>Total: <strong>${{totalProductos}}</strong></h3>
                                </td>
                                <td>
                                    <button id="eliminarTodoButton" class="btn btn-danger w-100">
                                        <span class="glyphicon glyphicon-remove"></span> Vaciar Carrito
                                    </button>
                                </td>
                            </tr>
                            {{else}}
                            <h3 class="text-center m-5">No hay productos en el carrito</h3>
                            {{/if}}

                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button id="purchaseButton" class="btn btn-success w-100">
                        COMPRAR<span class="glyphicon glyphicon-play"></span>
                    </button>
                </div>
                <div class="card-footer text-center">
                    <a href="/products" class="btn btn-secondary w-100">
                        Volver a la Tienda
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/purchase.js"></script>