<link rel="stylesheet" href="/css/product.css">
<div class="container mt-5">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{this.thumbnail}}" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <div class="d-flex justify-content-between">
                        <span class="product-title">{{this.title}}</span>
                        <span class="fst-italic text-capitalize text-secondary">{{this.category}}</span>
                    </div>
                    <p class="product-description">{{this.description}}</p>
                    <h4 class="price">Price: <span>{{this.price}}</span></h4>
                    <p class="vote"><strong>Stock:</strong> {{this.stock}} unidades </p>
                    <div class="action d-flex justify-content-between">
                    </div>
                    <form action="http://localhost:8080/api/carts/64a186926c002f512551ea96/product/{{this._id}}"
                        method="POST">
                        <div class="btn-group d-flex ">
                            <button class="add-to-cart btn btn-default" type="submit">add to Cart</button>
                            <a href="/products" class="btn btn-primary "><span
                                    class="mt-2 d-flex justify-content-center align-items-center">VOLVER A
                                    PRODUCTOS</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>