<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/products.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-100">
    <div class="row">
        <h1 class="fw-bold text-capitalize text-center mt-3 mb-4">
            Bienvenido {{#if usuario.name}}<strong>{{usuario.name}}</strong>{{/if}} a tu Tienda
        </h1> 
        {{#if products.isValid}}
        {{#each products.docs}}
        <div class="col-md-3 col-sm-6">
            <div class="product-wrapper mb-4 text-center" style="height: 300px; width: 200px; margin: 10px;">
                <div class="product-img" style="height: 100%;">
                    <a href="{{domain}}/products/{{this._id}}" data-abc="true">
                        <img src={{this.thumbnail}} alt={{this.title}} style="max-height: 100%; width: auto;">
                    </a> <span class="text-center fw-bold">${{this.price}}</span>
                    {{#if ../usuario}}
                    <div class="product-action">
                        <div class="product-action-style d-flex justify-content-around">
                            <a href="{{domain}}/products/{{this._id}}" class="fa fa-search estiloIcono" data-abc="true">
                            </a>
                            <form id="addToCartForm"
                                action="{{domain}}/api/carts/{{../usuario.cart}}/product/{{this._id}}" method="POST">
                                <i class="fa fa-shopping-cart addToCartButton estiloIcono"></i>
                            </form>
                            <button class="fa fa-trash btEliminarProductAdmin estiloIcono "
                                data-item-id={{this._id}}></button>
                        </div>
                    </div>
                    {{else}}
                    <div class="product-action">
                        <div class="product-action-style d-flex justify-content-around">
                            <a href="/sessions/login" class="btn btn-danger text-decoration-none">
                                Iniciar Sesión
                            </a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}}
        {{/if}}
    </div>
</div>
<div class="">
    <div class="m-2 text-center">
        {{#if products.hasPrevPage}}
        <a href={{products.prevLink}} class="text-decoration-none text-dark fw-bold ">
            << Anterior</a>
                {{/if}}
                &nbsp;<span class="text-dark fw-bold fs-3">
                    {{products.page}}
                </span>
                &nbsp;
                {{#if products.hasNextPage}}
                <a href={{products.nextLink}} class="text-decoration-none text-dark fw-bold">Siguiente >></a>
                {{/if}}
    </div>
</div>
<script src="/js/products.js"></script>