<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/product.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{{#if usuario}}
<div class="d-flex justify-content-between text-light">
    <div>
        <span class="ms-2"><span class="fw-bold text-uppercase fs-5 ">{{usuario.name}} </span> <span
                class=" ">({{usuario.age}})</span></span>
        <span class="mr-2 fw-semibold text-capitalize">[ {{usuario.role}} {{#if usuario.premium}} PREMIUM {{/if}}]
        </span>
    </div>
    <div>
        <a href="/carts/{{usuario.cart}}" class="btn btn-warning border border-solid border-dark">🛒</a>
        <button type="button" id="LogoutButton" class="btn btn-danger">LogOut</button>
    </div>
</div>
{{else}}
<div class="d-flex justify-content-end text-light bg-dark m-2">
    <a href="/sessions/login" class="btn btn-success mx-2">Login</a>
    <a href="/sessions/register" class="btn btn-primary">Register</a>
</div>
{{/if}}

<div class="container mt-5">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="{{product.thumbnail}}" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <div class="d-flex justify-content-between">
                        <span class="product-title">{{product.title}}</span>
                        <span class="fst-italic text-capitalize text-secondary">{{product.category}}</span>
                    </div>
                    <p class="product-description">{{product.description}}</p>
                    <h4 class="price">Price: <span>{{product.price}}</span></h4>
                    <p class="vote"><strong>Stock:</strong> {{product.stock}} unidades </p>
                    <div class="action d-flex justify-content-between">
                    </div>
                    {{#if usuario}}
                    <div class="d-flex justify-content-around">
                        <span>
                            <form action="http://localhost:8080/api/carts/{{usuario.cart}}/product/{{product._id}}"
                                method="POST">
                                <button class="btn btn-success" id="addToCartProduct">Agregar al carrito</button>
                            </form>
                        </span>
                        <span>
                            <a href="/products" class="btn btn-primary ">Volver a productos</a>
                        </span>
                    </div>
                    {{else}}
                    <div class="d-flex justify-content-around">
                        <span>
                            <a href="/sessions/login" class="btn btn-danger">Logerte para agregar</a>
                        </span>
                        <span>
                            <a href="/products" class="btn btn-primary ">Volver a productos</a>
                        </span>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/logout.js"></script>
<script src="/js/product.js"></script>