<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="./css/products.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{{#if usuario}}
<div class="d-flex justify-content-between text-light bg-success">
    <span class="ms-2">Bienvenido <span class="fw-bold text-uppercase fs-5 ">{{usuario.name}} </span> <span
            class=" ">({{usuario.age}})</span></span>
    <span><span class="ms-2 fst-italic">{{usuario.email}}</span>
        <span class="mr-2 fw-semibold text-capitalize">[ {{usuario.role}} ]</span>
        <a href='/api/carts/{{usuario.cart}}' class="btn btn-warning border border-solid border-dark">🛒</a>
        <a href="/api/sessions/logout" class="btn btn-danger">LogOut</a>
    </span>
</div>
{{else}}
<div class="d-flex justify-content-end text-light bg-dark m-2">
    <a href="/api/sessions/login" class="btn btn-success mx-2">Login</a>
    <a href="/api/sessions/register" class="btn btn-primary">Register</a>
</div>
{{/if}}

<div class="container">
    <div class="row">
        <p class="text-light text-center mt-5 fs-1">Lista de Productos</p>
        {{#if products.isValid}}
        {{#each products.docs}}

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="box card">
                <a href="http://localhost:8080/product/{{this._id}}" class="box cardImg ">
                    <img src={{this.thumbnail}} alt={{this.title}}>
                </a>
                <div class="info">
                    <h3>{{this.tilte}}</h3>
                    <p class="d-flex justify-content-around"><span class="text-dark fw-bold">{{this.title}}</span><span
                            class="text-secondary fst-italic text-capitalize">{{this.category}}</span></p>
                    <p class="text-dark fw-bold">Price: ${{this.price}}</p>
                    {{#if ../usuario}}
                    <form action="http://localhost:8080/api/carts/{{../usuario.cart}}/product/{{this._id}}"
                        method="POST">
                        <button class="btn btn-success">Agregar al carrito</button>
                    </form>
                    {{else}}
                    <a href="/api/sessions/login" class="btn btn-danger">Logerte para agregar</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="mt-5">
    <div class="text-center">
        {{#if products.hasPrevPage}}
        <a href={{products.prevLink}} class="text-decoration-none ">
            << Anterior</a>
                {{/if}}
                &nbsp;<span class="text-light fw-bold fs-3">
                    {{products.page}}
                </span>
                &nbsp;
                {{#if products.hasNextPage}}
                <a href={{products.nextLink}} class="text-decoration-none ">Siguiente >></a>
                {{/if}}
    </div>
    {{else}}
    <h1>No hay productos para mostrar</h1>
    {{/if}}
</div> --}}