<div class='mt-3 justify-content-center'>
    <h1 class='text-light text-center fw-bold'>Agregá productos en tiempo real</h1>
    <form class='w-50 mx-auto' id='form-product' action='/api/products/realTimeProducts' method='post'>
        <div class='input-group mb-3 border border-black rounded'>
            <label for="usuario" class='input-group-text bg-secondary fw-bold border border-black w-25'>Usuario</label>
            <input type='text' id='usuario' name='usuario' class='form-control border border-black' aria-label='title'
                value={{usuario}} readonly />
        </div>
        <div class='input-group mb-3 border border-black rounded'>
            <label for="producto"
                class='input-group-text bg-secondary fw-bold border border-black w-25'>Producto</label>
            <input type='text' id='producto' name='title' class='form-control border border-black'
                placeholder='Nombre del producto' autofocus aria-label='title' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="Descripción"
                class='input-group-text bg-secondary fw-bold border border-black w-25'>Descripción</label>
            <input type='text' id='Descripción' name='description' class='form-control border border-black'
                placeholder='Describa el producto...' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="price" class='input-group-text bg-secondary fw-bold border border-black w-25'>Precio</label>
            <input type='number' id='price' name='price' class='form-control border border-black' placeholder='$00.00'
                aria-label='Precio' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="imagen" class='input-group-text bg-secondary fw-bold border border-black w-25'>URL
                Imagen</label>
            <input type='text' id='imagen' name='thumbnail' class='form-control border border-black'
                placeholder='https://.../' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="Código" class='input-group-text bg-secondary fw-bold border border-black w-25'>Código</label>
            <input type='number' id='Código' name='code' class='form-control border border-black' placeholder='0' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="Stock" class='w-25 input-group-text bg-secondary fw-bold border border-black w-25'>Stock</label>
            <input type='number' id='Stock' name='stock' class=' form-control border border-black' placeholder='0' />
        </div>

        <div class='input-group mb-3 border border-black rounded'>
            <label for="Categoría"
                class='input-group-text bg-secondary fw-bold border border-black w-25'>Categoría</label>
            <input type='text' id='Categoría' name='category' class='form-control border border-black'
                placeholder='Indique la Categoría...' />
        </div>

        <div>
            <input type='hidden' name='form' value='true' />
        </div>

        <div class="d-grid gap-2 border border-black rounded">
            <button class='btn btn-success btn-block fw-bold' type='submit'>A G R E G A R</button>
        </div>
    </form>
</div>
{{#each userProducts}}
<div>
    <h2 class='text-light text-center fw-bold'>Productos que agregaste:</h2>
    <div id="contenedorProducts" class="  mb-3 rounded">
        <div class="card shadow-sm border-dark rounded w-25 mx-auto mb-2 mt-2">
            <img src={{this.thumbnail}} alt={{this.title}} srcset="">
            <div class="card-body bg-secondary-subtle text-center">
                <div class="d-flex justify-content-between">
                    <p class="text-center fw-bold text-uppercase">{{this.title}}</p>
                </div>
                <p class="card-text">{{this.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary fw-bold">${{this.price}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="text-center col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 mt-3">
    <div class=""><a href="/products" class="btn btn-success btn-block btn-lg">Volver a home</a>
    </div>
</div>

<script src="/js/realTimeProducts.js"></script>